.card * {
  margin: 0;
  padding: 0;
}

.card {
  padding: 1rem;
  width: 100%;
  display: grid;
  height: 100%;
  position: relative;
  place-items: center;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid black;
  transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out,
    background-color 150ms ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 6px 4px 0px 0px #a9d3f7;
}

.active {
  background-color: antiquewhite;
  box-shadow: 6px 4px 0px 0px #a9d3f7;
}

.title {
  position: absolute;
  text-transform: capitalize;
  top: 5px;
  left: 10px;
  font-size: 16px;
  color: gray;
}

.iconWrapper {
  width: 100%;
  display: grid;
  place-items: center;
}

.icon {
  width: 60%;
  transition: opacity 150ms ease-in-out;
}

.card:not(.card.active) .icon {
  opacity: 0.7;
}

.card:hover .icon {
  opacity: 1;
}

.control {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: grid;
  place-items: center;
}
